 <div class="row" *ngIf="Persona">
  
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="info">
            <img id="fotodeperfil" class="img-fluid" [src]="'../../../assets/' + Persona.img">
            
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p id="nombrep">{{Persona.nombre}} {{Persona.apellido}}         </p>
            <p id="profesionp"> {{Persona.profesion}} </p>        
    </div>   
  
    <div class="col-11" id="descripcionp">
        <span>
            <h2>Sobre mi..</h2>
            <p id="desc"> {{Persona.descripcion}} </p> 
        </span>
        <div class="btn-edit mr-5"*ngIf="isLogged"><a class="btn-right"><i class="fa fa-pen"
           (click)="OpenModal('editar',Persona)"></i></a>
        </div>
    </div>
</div>

     
<!-- Modal Editar Perfil-->

<div class="modal fade" id="editarPersonaModal"  tabindex="-1" role="dialog" aria-labelledby="editarPersonaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarPersonaModalLabel">Editar Perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
  
          <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" ngModel={{editPersona?.nombre}} name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
            </div>

          <div class="form-group">
              <label for="apellido">Apellido</label>
              <input type="text" ngModel={{editPersona?.apellido}} name="apellido" class="form-control" id="apellido" placeholder="Apellido">
            </div>
            <input type="hidden" ngModel={{editPersona?.id}} name="id" class="form-control" id="id" placeholder=""/>
          <div class="form-group">
              <label for="profesion">Profesion</label>
              <input type="text" ngModel={{editPersona?.profesion}} name="profesion" class="form-control" id="profesion" placeholder="Profesion">
            </div>

          <div class="form-group">
              <label for="descripcion">Descripcon</label>
              <input type="text" ngModel={{editPersona?.descripcion}} name="descripcion" class="form-control" id="descripcion" placeholder="Descripcion">
            </div>

          <div class="form-group">
              <label for="img">Imagen</label>
              <input type="text" ngModel={{editPersona?.img}} name="img" class="form-control" id="img" placeholder="Ingresar imagen">
            </div>
    
          </form>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="" data-dismiss="modal">Cancelar</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="EditarPersona(editForm.value)" >Guardar cambios</button>
      </div>
    </div>
  </div>
  </div>






