.row {
  text-align: center;
  justify-content: center;
  background-color: black;
  padding: 30px;
  
}
#info{
  padding: 20px;
}
/*foto de perfil*/
@media (min-width: 576px) {
    #fotodeperfil{
        position: relative;
        width: 70%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        align-content:flex-end;
        margin: 5px;
        
        
        
  } 
}
@media (max-width: 576px) {
    #fotodeperfil{
        align-items: center;
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: 660px;
        margin-left: 115px;
  } 
}

#nombrep{  
  text-align: center;
  justify-content:center;
  font-family: Poppins;
  font-style: normal;
  font-size: 30px;
  color: #9e9898;
  margin-top: 50px;
  
}
#descripcionp{
  background-color: #bd4451;
}
#profesionp, #descripcionp{
  text-align: center;
  justify-content:center;
  
  color: #9e9898;  
}

    
.btn-right {
  align-self:flex-end;  
}


.fa-button,.fa {
    color:black;
    display: block;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    border-radius: 50%;
    background: #bd4451;
  }
.fa-button:hover,.fa:hover {
    background: gray;
  }
.btn-edit {
    flex: 1;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    text-align: end;
  }
  h5, p, span, label{
    color: antiquewhite;
  }
  #editarPersonaModal{
    background-color: #bd4451;
    
  }
  .modal-content{
    background-color: black;
  }
  