<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear cuenta</h5>
        <button type="button" class="close" onclick="$('#login').modal('hide');" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputUser">Usuario</label>
          <textarea type="text" class="form-control" id="inputUser" placeholder="Enter user"></textarea>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputClave">Clave</label>
          <textarea type="text" class="form-control" id="inputClave" placeholder="Enter clave"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="$('#login').modal('hide');">Cerrar</button>
        <button type="button" class="btn btn-custom" onclick="saveEditAboutModal()">Crear</button>
      </div>
    </div>
  </div>
</div>
