<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-1">
        <img src="../../../assets/logo-csdnet.jpg" class="img-fluid" id="logocsdnet">
        <img src="../../../assets/logo-comuna.png" class="img-fluid" id="logocomuna">
    </div>
    <div class="col-lg-10">
        
        <ul>
            <li>
                <h1>CSDNET Servicios Digitales S.R.L.</h1> - <h3>2020 - 2022</h3>
            </li>
            <p>Soporte técnico</p>
        </ul>
        <ul>
            <li>
                <h1>Comuna de Ingeniero Chanourdie</h1> - <h3>2020 - 2022</h3>
            </li>
            <p>Comunicación y redes sociales</p>
        </ul>
    </div>
</div>
