
.row{
    padding-top: 100px;
}
div{
    background-color: black;   
}
#item1{   
    border: #bd4451 solid 1px;
    margin: 5px;  
}
.item{
    float: left;
    height: 250px;
    padding: 2px;
    text-align: center;
}

#logos{
    width: 85px;
    padding: 5px;   
}

#text {
    color: white;
    font-size: 20px;
    
 }
 p{
    color:#9e9898;
    font-size: 16px;  
 }

h1,h5,label{
    color: #9e9898;   
}

button{
    float: right;
    background-color: black;
    
}

.fa-button,.fa {
    color: #bd4451;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    border-radius: 50%;
    background: black;
    
  }
.fa-button:hover,.fa:hover {
    background: gray;
  }
#agregar{
    width: 95;
    margin-right: 15%;
    background-color: #bd4451;
    border-radius: 0%;
    
}
.btn-danger, #ti{
    display: inline;      
}

#ti{
    margin-left: 40%;
    text-decoration: underline;
    color: #bd4451;
    font-family: 'Times New Roman', Times, serif;
}
h5, p, span, label{
    color: antiquewhite;
  }
  #editarExperienciaModal, #borrarExperienciaModal, #crearExperienciaModal{
    background-color: #bd4451;
  }
