<div class="row">
    <h1> Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-1">
        <img src="../../../assets/logo-arg-prog.jpg" class="img-fluid" id="logoape">
        <img src="../../../assets/logo-inap.jpg" class="img-fluid" id="logoinap">
        <img src="../../../assets/logo-comercio.jpg" class="img-fluid" id="logocomercio">
    </div>
    <div class="col-lg-10">
        <ul>            
            <li> 
                <h1>Argentina Programa</h1> - <h3>2021 - 2022</h3>
            </li>
            <p>SeProgramar - YoProgramo</p>
        </ul>
        <ul>
            <li>
                <h1>Instituto Nacional de Administración Pública</h1> - <h3>2021</h3>
            </li>
            <p>Comunicación Gubernamental y Redes Sociales</p>
        </ul>
        <ul>
            <li>
                <h1>Escuela Superior de Comercio N° 43</h1> - <h3>2011 - 2018</h3>
            </li>
            <p>Analista Programador - Analista de Sistemas</p>
        </ul>
    </div>
</div>
